@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

*{
    margin: 0;
    padding:0;
    font-family: Poppins,sans-serif;
}

.main{
    overflow-x: hidden;

}

.nav-cont{
    width: 100%;
    border: .7px solid rgb(213, 213, 213);
    box-shadow: 0 10px 10px rgb(216, 216, 216);
}

.navbar{
    width: 65%;
    display: flex;
    padding: 1.7rem 0;
    margin: auto;
    justify-content: space-between;
}

.logo{

    width: 70%;
}

.navbar nav{
    width: 30%;
    margin-top: .3em;
}

.navbar ul{
    display: flex;
    justify-content: space-around;
}  

.navbar ul a{
    text-decoration: none;
    color: black;
}



.navbar li{
    padding:0 1em;
    list-style: none;
}

.upper-container{
    width: 65%;
    margin: auto;
    display:flex;
    margin-top: 4em;
    padding: 2em 0;
}

.logo-cont{
    margin: auto;
    width: 30%;
    font-size: 1.5em;
}

.in-con{
    width: 70%;

}

.search-cont{
    margin-top: 4em;
    background-color: rgb(241, 241, 241);
    padding: 5.5rem 0;
}

.s-cont{
    width: 65%;
    margin: auto;
    
}

.s-cont button{
    background-color: white;
    border: none;
    padding: .4em 1.5em;
    font-weight: bold;
}

.search{
    margin-top: .7em;
    height: 3em;
}

.image{
    position: absolute;
    right:17%;
    margin-top: -13em;
}

.radio-btn{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.radio-btn input{
    margin-right: .5em;
}

.radio-btn label{
    margin-right: 1.6em;
}

.image img{
    height: 20em;   
    object-fit: cover;

}

.s-bar{
    border: none;
    padding: .8em;
    height: inherit;
    width: 35%;
}

.sub-btn{
    border: none;
    background-color: rgb(32, 42, 84);
    height: inherit;
    padding: .8em 1.5em;
    color: white;
    cursor: pointer;
}

.slide-container{
    width: 65%;
    margin: auto;
    margin-top: 6em;
    overflow: hidden;
}

.slide-container button{
    margin:2em .5em 1em 0 ;
    background-color: rgb(75, 86, 131);
    height: inherit;
    padding: .4em 1em;
    color: white;
    border: none;

}

.slide-show{
    width: 200%;
    display: flex;
    justify-content: space-between;
}

.arrows{
    margin: auto;
    width: 50%;
    text-align: center;
}

.arrows button{
    padding: .55em 1em;
    border-radius:20px;
    background-color: white;
    color:black;
    border: .5px solid black;
}


.content{
    padding-top: 5em;
    width: 65%;
    margin: auto;
}

.cont-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
    font-size:.9em;
}

.cont-col{
    width: 40%;
    padding: 3em 3em;
    box-shadow: 10px 10px 40px rgb(190, 190, 190);
}

.cont-col h2{
    margin-bottom: .5em;
}

.cont-col p{
    word-spacing: .4em;
    text-align: justify;
}

.footer{
    margin-top: 5em;
    background-color: rgb(32, 42, 84);
    color: white;
    padding: 6em 0 4em 0;
}

.in-footer{
    width: 65%;
    margin: auto;

}

.social-media{
    font-size: 2.4em;
}

.social-media a{
    color: white;
    margin-right: 1em;
}

.bottom{
    width: 50%;
    margin: auto;
    text-align: center;
}

.logo-bottom{
    font-weight: bolder;
    margin-bottom: .5em;
}

.copy-right{
    font-weight: lighter;
}